//colors
$color1: #AC3931; //reddish brown
$color2: #FF8811; //orange
$color3: #F9DB6D; //light yellow
$color4: #EDAE49; //sunray
$color6: #36827F; //teal
$color7: #2D728F; //blue
$color8: #071E22; //dark jungle green
$color9: #E0F2E9; //honeydew

h1 {
    color: $color4;
}

nav ul li a {
    color: $color1;
}